.xdsoft_autocomplete{
	display:inline;
	position:relative;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	text-align: start;
}

.xdsoft_autocomplete_dropdown{
	display: none !important;
}

.Chat .xdsoft_autocomplete .xdsoft_input{
	display: none;
	position:relative;
	z-index:2;
}

.Chat.Active .xdsoft_autocomplete .xdsoft_input{
	display: block;
}


.xdsoft_autocomplete .xdsoft_autocomplete_hint{
	position:absolute;
	z-index:1;
	color:#ccc !important;
	-webkit-text-fill-color:#ccc !important;
	text-fill-color:#ccc  !important;
	overflow:hidden !important;
	white-space: pre  !important;
}

.xdsoft_autocomplete .xdsoft_autocomplete_hint span{
	color:transparent;
	opacity: 0.0;
}
