.Chat {
  font-size: 14px;
  position: fixed;
  bottom: 0;
  right: 2em;
  width: 20em;
  border: 1px solid gray;
  border-bottom: none;
  -webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.75);
  z-index: 1;
}

.Chat-title {
  cursor:pointer;
  width: 100%;
  font-size: 1.5em;
  color: white;
  background: #1c1c1c;
  padding: .5em 0;
  text-align: center;
}

.Chat-input {
  display: block;
  width: 100%;
  margin: 0%;
  border: none;
  font-size: 1.1em;
  padding: .4em .5em;
  box-sizing: border-box;
  border-top: 1px solid gray;
}

.Chat-messagesBox {
  display: none;
  background: #f0f0f0;
  padding: .5em;
  max-height: 18em;
  min-height: 18em;
  overflow-y: auto;
}

.Chat-message {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  font-size: 1.2em;
  width: 100%;
  margin-bottom: .8em;
}

.Chat-link, .Chat-link:visited {
  color: #00c;
}

.Chat-link:hover {
  text-decoration: underline;
}

.Chat-image {
  align-self: flex-start;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
}

.Chat-text {
  padding: .5em .4em;
  border-radius: 10px;
  font-size: .9em;
  width: 80px;
  flex-grow: 1;
  margin: 0 .5em;
  word-wrap: break-word;
  text-align: left;
}

.Chat-message--user > .Chat-image {
  order: 1;
}

.Chat-message--user > .Chat-text {
  background: rgba(85, 154, 235, .8);
}

.Chat-message--tutor > .Chat-text {
  background: rgba(19, 89, 170 ,.3);
}

.Chat.Active > .Chat-messagesBox,
.Chat.Active > .Chat-input {
  display: block;
}
