#qid {
  padding: 10px 15px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 20px;
}
label.btn {
    padding: 18px 60px;
    white-space: normal;
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s
}

label.btn:hover {
    text-shadow: 0 3px 2px rgba(0,0,0,0);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1)
}
label.btn-block {
    text-align: left;
    position: relative
}

label .btn-label {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    padding: 0 10px;
    background: rgba(0,0,0,0);
    height: 100%
}

label .glyphicon {
    top: 34%
}
.element-animation1 {
    animation: animationFrames ease .8s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames ease .8s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -ms-animation: animationFrames ease .8s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%
}
.element-animation2 {
    animation: animationFrames ease 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames ease 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -ms-animation: animationFrames ease 1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%
}
.element-animation3 {
    animation: animationFrames ease 1.2s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames ease 1.2s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -ms-animation: animationFrames ease 1.2s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%
}
.element-animation4 {
    animation: animationFrames ease 1.4s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames ease 1.4s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -ms-animation: animationFrames ease 1.4s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%
}
@keyframes animationFrames {
    0% {
        opacity: 0;
        transform: translate(-1500px,0px)
    }

    60% {
        opacity: 1;
        transform: translate(30px,0px)
    }

    80% {
        transform: translate(-10px,0px)
    }

    100% {
        opacity: 1;
        transform: translate(0px,0px)
    }
}

@-webkit-keyframes animationFrames {
    0% {
        opacity: 0;
        -webkit-transform: translate(-1500px,0px)
    }
    60% {
        opacity: 1;
        -webkit-transform: translate(30px,0px)
    }

    80% {
        -webkit-transform: translate(-10px,0px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0px,0px)
    }
}

@-ms-keyframes animationFrames {
    0% {
        opacity: 0;
        -ms-transform: translate(-1500px,0px)
    }

    60% {
        opacity: 1;
        -ms-transform: translate(30px,0px)
    }
    80% {
        -ms-transform: translate(-10px,0px)
    }

    100% {
        opacity: 1;
        -ms-transform: translate(0px,0px)
    }
}

.modal-header {
    background-color: transparent;
    color: inherit
}

.modal-body {
    min-height: 205px
}
#loadbar {
    position: absolute;
    width: 62px;
    height: 77px;
    top: 2em
}
.blockG {
    position: absolute;
    background-color: #000;
    width: 10px;
    height: 24px;
    -moz-border-radius: 8px 8px 0 0;
    -moz-transform: scale(0.4);
    -moz-animation-name: fadeG;
    -moz-animation-duration: .8800000000000001s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: linear;
    -webkit-border-radius: 8px 8px 0 0;
    -webkit-transform: scale(0.4);
    -webkit-animation-name: fadeG;
    -webkit-animation-duration: .8800000000000001s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -ms-border-radius: 8px 8px 0 0;
    -ms-transform: scale(0.4);
    -ms-animation-name: fadeG;
    -ms-animation-duration: .8800000000000001s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: linear;
    -o-border-radius: 8px 8px 0 0;
    -o-transform: scale(0.4);
    -o-animation-name: fadeG;
    -o-animation-duration: .8800000000000001s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: linear;
    border-radius: 8px 8px 0 0;
    transform: scale(0.4);
    animation-name: fadeG;
    animation-duration: .8800000000000001s;
    animation-iteration-count: infinite;
    animation-direction: linear
}
#rotateG_01 {
    left: 0;
    top: 28px;
    -moz-animation-delay: .33s;
    -moz-transform: rotate(-90deg);
    -webkit-animation-delay: .33s;
    -webkit-transform: rotate(-90deg);
    -ms-animation-delay: .33s;
    -ms-transform: rotate(-90deg);
    -o-animation-delay: .33s;
    -o-transform: rotate(-90deg);
    animation-delay: .33s;
    transform: rotate(-90deg)
}
#rotateG_02 {
    left: 8px;
    top: 10px;
    -moz-animation-delay: .44000000000000006s;
    -moz-transform: rotate(-45deg);
    -webkit-animation-delay: .44000000000000006s;
    -webkit-transform: rotate(-45deg);
    -ms-animation-delay: .44000000000000006s;
    -ms-transform: rotate(-45deg);
    -o-animation-delay: .44000000000000006s;
    -o-transform: rotate(-45deg);
    animation-delay: .44000000000000006s;
    transform: rotate(-45deg)
}
#rotateG_03 {
    left: 26px;
    top: 3px;
    -moz-animation-delay: .55s;
    -moz-transform: rotate(0deg);
    -webkit-animation-delay: .55s;
    -webkit-transform: rotate(0deg);
    -ms-animation-delay: .55s;
    -ms-transform: rotate(0deg);
    -o-animation-delay: .55s;
    -o-transform: rotate(0deg);
    animation-delay: .55s;
    transform: rotate(0deg)
}
#rotateG_04 {
    right: 8px;
    top: 10px;
    -moz-animation-delay: .66s;
    -moz-transform: rotate(45deg);
    -webkit-animation-delay: .66s;
    -webkit-transform: rotate(45deg);
    -ms-animation-delay: .66s;
    -ms-transform: rotate(45deg);
    -o-animation-delay: .66s;
    -o-transform: rotate(45deg);
    animation-delay: .66s;
    transform: rotate(45deg)
}
#rotateG_05 {
    right: 0;
    top: 28px;
    -moz-animation-delay: .7700000000000001s;
    -moz-transform: rotate(90deg);
    -webkit-animation-delay: .7700000000000001s;
    -webkit-transform: rotate(90deg);
    -ms-animation-delay: .7700000000000001s;
    -ms-transform: rotate(90deg);
    -o-animation-delay: .7700000000000001s;
    -o-transform: rotate(90deg);
    animation-delay: .7700000000000001s;
    transform: rotate(90deg)
}
#rotateG_06 {
    right: 8px;
    bottom: 7px;
    -moz-animation-delay: .8800000000000001s;
    -moz-transform: rotate(135deg);
    -webkit-animation-delay: .8800000000000001s;
    -webkit-transform: rotate(135deg);
    -ms-animation-delay: .8800000000000001s;
    -ms-transform: rotate(135deg);
    -o-animation-delay: .8800000000000001s;
    -o-transform: rotate(135deg);
    animation-delay: .8800000000000001s;
    transform: rotate(135deg)
}
#rotateG_07 {
    bottom: 0;
    left: 26px;
    -moz-animation-delay: .99s;
    -moz-transform: rotate(180deg);
    -webkit-animation-delay: .99s;
    -webkit-transform: rotate(180deg);
    -ms-animation-delay: .99s;
    -ms-transform: rotate(180deg);
    -o-animation-delay: .99s;
    -o-transform: rotate(180deg);
    animation-delay: .99s;
    transform: rotate(180deg)
}
#rotateG_08 {
    left: 8px;
    bottom: 7px;
    -moz-animation-delay: 1.1s;
    -moz-transform: rotate(-135deg);
    -webkit-animation-delay: 1.1s;
    -webkit-transform: rotate(-135deg);
    -ms-animation-delay: 1.1s;
    -ms-transform: rotate(-135deg);
    -o-animation-delay: 1.1s;
    -o-transform: rotate(-135deg);
    animation-delay: 1.1s;
    transform: rotate(-135deg)
}
@-moz-keyframes fadeG {
    0% {
        background-color: #000
    }

    100% {
        background-color: #FFF
    }
}

@-webkit-keyframes fadeG {
    0% {
        background-color: #000
    }

    100% {
        background-color: #FFF
    }
}

@-ms-keyframes fadeG {
    0% {
        background-color: #000
    }

    100% {
        background-color: #FFF
    }
}

@-o-keyframes fadeG {
    0% {
        background-color: #000
    }
    100% {
        background-color: #FFF
    }
}

@keyframes fadeG {
    0% {
        background-color: #000
    }

    100% {
        background-color: #FFF
    }
}

boton{ 
	text-align: center; 
}

tabulado {
	text-indent: 2cm;
}

tabulado2{
	    position:absolute;
		top: 180px;
		left: 150px;
}

titulo {
	font-size: 200%;
	text-align: center; 
	color: white;
	font-family: sans-serif;
}

posicionBot1 {
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top: 100px;
		left: 260px;
	}
	
posicionBot2 {
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top: 100px;
		left: 350px;
	}
	
posicionBot3{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top:100px;
		left: 440px;
	}
	
posicionBot4{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top:100px;
		left: 505px;
}

posicionBot5{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top:200px;
		left: 260px;
}

posicionBot6{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top:200px;
		left: 350px;
}

posicionBot7{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top:200px;
		left: 440px;
}

posicionBot8{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top:200px;
		left: 505px;
}

posicionBot9{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top: 300px;
		left: 260px;
	}
	
posicionBot10{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top: 300px;
		left: 350px;
	}
	
posicionBot11{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top:300px;
		left: 440px;
	}
	
posicionBot12{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top:300px;
		left: 505px;
}

posicionBot13{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top: 400px;
		left: 260px;
	}
	
posicionBot14{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top: 400px;
		left: 350px;
	}
	
posicionBot15{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top:400px;
		left: 440px;
	}
	
posicionBot16{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top:400px;
		left: 505px;
}

posicionBot17{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top: 500px;
		left: 260px;
	}
	
posicionBot18{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top: 500px;
		left: 350px;
	}
	
posicionBot19{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top:500px;
		left: 440px;
	}
	
posicionBot20{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top:500px;
		left: 505px;
}

posicionBot21{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top: 600px;
		left: 260px;
	}
	
posicionBot22{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top: 600px;
		left: 350px;
	}
	
posicionBot23{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top:600px;
		left: 440px;
	}
	
posicionBot24{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top:600px;
		left: 505px;
}

posicionBot25{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top: 700px;
		left: 260px;
	}
	
posicionBot26{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top: 700px;
		left: 350px;
	}
	
posicionBot27{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top:700px;
		left: 440px;
	}
	
posicionBot28{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top:700px;
		left: 505px;
}

posicionBot29{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top: 800px;
		left: 260px;
	}
	
posicionBot30{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top: 800px;
		left: 350px;
	}
	
posicionBot31{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top:800px;
		left: 440px;
	}
	
posicionBot32{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top:800px;
		left: 505px;
}

posicionBot33{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top: 900px;
		left: 260px;
	}
	
posicionBot34{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top: 900px;
		left: 350px;
	}
	
posicionBot35{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top:900px;
		left: 440px;
	}
	
posicionBot36{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top:900px;
		left: 505px;
}

posicionBot37{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top: 1000px;
		left: 260px;
	}
	
posicionBot38{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top: 1000px;
		left: 350px;
	}
	
posicionBot39{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top:1000px;
		left: 440px;
	}
	
posicionBot40{
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top:1000px;
		left: 505px;
}




posicion11{
		position:absolute;
		left: 300px;
}

posicionEx1{
		position:absolute;
		top: 300px;
}

posicion3 {
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top: 100px;
		left: 260px;
	}
	
posicion4 {
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top: 100px;
		left: 350px;
	}
posicion5 {
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top: 150px;
		left: 260px;
	}
	
posicion6 {
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top: 150px;
		left: 350px;
	}
	
posicion8 {
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top: 100px;
		left: 440px;
	}

posicion9 {
		font-size:15px;
        font-family: 'Open Sans';
        font-weight:bold;
        color:white;
        border:0px;
		position:absolute;
		top: 150px;
		left: 440px;
	}
	
.question{
	font-family: 'Open Sans';
	text-align: center;
	width:900px;
	margin-bottom:20px;
	margin-right:20px;
	margin-top:60px;
	margin-left: 50px;
}

.possible-points{
	font-family: 'Open Sans';
	text-align: center;
}


.answer{
	font-family: 'Open Sans';
	text-align: center;
	margin-left: 55px;
}

.checkbox-answer{
    font-family: 'Open Sans';
	margin-right:10px;
	margin-left: 20px;

}

.form-control{
    font-family: 'Open Sans';
	font-size: 20px;
	width:500px;
	text-align: center;
}

.form-group{
    font-family: 'Open Sans';
	font-size: 20px;
	margin-left:450px;
	margin-top:40px;
}


.form-gropp{
	font-family: 'Open Sans';
	font-size: 20px;
	position: absolute;
	left: 33%;
	top: 65%;
}


.form-gro{
	font-family: 'Open Sans';
	font-size: 20px;
	position: absolute;
	left: 33%;
	top: 75%;
}

.form-groppp{
	font-family: 'Open Sans';
	font-size: 20px;
	position: absolute;
	left: 33%;
	top: 85%;
}


pos{	
	font-family: 'Open Sans';	
	position: absolute;
	left: 25%;
	}


	
	
	/************************************************************************/
	/*          HABILITAR/DESHABILITAR VIDEO    */
	
	.onoffswitch {
    position: relative; width: 131px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Deshabilitar";
    padding-left: 10px;
    background-color: #000000; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Habilitar";
    padding-right: 10px;
    background-color: #FFFFFF; color: #000000;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 97px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
	
	
	/************************************************************************/
	
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body{
	background:#1c1c1c;
	margin:0;
	width:100%;
	height:auto;
	overflow-x:hidden;
	font-family:abel,sans-serif;
	font-size:12px
}

button {
	cursor: pointer;
}


a{
	text-decoration:none;
	color:inherit;
	cursor: pointer;
}

a:hover{
	color:#CCC
}

a.active{
	color:#ccc
}

h1{
	margin:0;
	padding:0
}

p{
	margin:0;
	padding:0
}

.mainbg{
	background:#2c2c2c
}

.padBox{
	box-sizing:border-box
}

.sul{
	width:auto;
	margin:0;
	font-size:16px;
	padding:0
}

.cV{
	background:#3669bc
}

.cA{
	background:#489d55
}

.cK{
	background:#bc365f
}

.icV{
	color:#3669bc
}

.icA{
	color:#489d55
}

.icK{
	color:#bc365f
}

.fit-con{
	width:100%;
	margin:0 auto
}

.fit-con div{
	display:inline-block;
	float:left;
	height:auto;
	padding:30px
}

.fit-3div{
	width:33.33%;
	margin-top:0
}

.fit-2div{
	width:49.44%
}

#main{
	background:#1c1c1c
}

#navBar{
	position:fixed;
	background:#1c1c1c;
	width:100%;
	z-index:1000;
	height:60px;
	overflow:hidden;
	color:white;
	top:0;
	left:0;
	font-size:16px
}

#navBar ul{
	list-style:none;
	display:inline-block;
	width:auto;
	margin:0;
	line-height:60px;
	font-size:16px;
	padding:0
}

#navBar #bar{
	display:none
}

#navBar #barT{
	display:none
}

#navBar #logoSection{
	position:fixed;
	top:0;
	left:20px
}

#navBar #logoSection li{
	display:inline-block;
	font-size:35px;
	padding:0;
	font-weight:700;
	margin:0
}

#navBar #searchSection{
	position:fixed;
	font-family:'Open Sans',sans-serif;
	font-size:13px;
	top:0;
	cursor:pointer;
	left:150px
}

#navBar #searchSection li{
	display:inline-block
}

#navBar #userSection{
	position:fixed;
	font-family:'Open Sans',sans-serif;
	font-size:13px;
	right:20px
}

#navBar #userSection li{
	display:inline-block;
	width:auto;
	margin-right:15px
}

#navBar li .fa-search{
	margin-left:10px;
	-ms-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg)
}

#landScape{
	background-image:url(http://www.counseling.msu.edu/files_counseling/content/students1.jpg);
	background-size:cover;
	background-position:center;
	width:100%;
	margin-top:50px
}

#landScape #content{
	background:rgba(0,0,0,0.5);
	color:white;
	width:100%;
	padding:20px;
	font-size:28px
}

#landScape #title{
	font-size:110px;
	margin-top:50px;
	text-align:center
}

#landScape #message{
	width:100%;
	max-width:800px;
	margin:0 auto;
	margin-top:50px;
	text-align:justify
}

#landScape #buttons{
	width:100%;
	max-width:330px;
	margin:0 auto;
	margin-top:100px;
	text-align:center
}

button.lnd{
	padding:15px 25px;
	margin-left:10px;
	font-size:15px;
	margin-bottom:18px;
	color:white;
	border:0;
	border-radius:5px
}

#landScape #login{
	background:#1359aa
}

#landScape #signup{
	background:#1c1c1c
}

#presentation{
	width:100%;
	text-align:center;
	background:#fff;
	padding:20px;
	padding-top:60px;
	padding-bottom:60px
}

#presentation h1{
	font-size:45px
}

#presentation p{
	margin-top:20px;
	font-size:18px
}

#presentation #controls{
	max-width:600px;
	margin:0 auto;
	margin-top:30px
}

#presentation #controls ul{
	list-style:none;
	display:inline-block;
	width:auto;
	margin:0;
	font-size:16px;
	padding:0
}

#presentation #controls ul li{
	list-style:none;
	display:inline-block;
	width:auto;
	font-weight:700;
	margin:0;
	cursor:pointer;
	margin-right:10px;
	font-size:18px;
	padding:0
}

#typesSlider{
	background:#fff;
	width:100%;
	height:auto;
	overflow:auto;
	position:relative;
	-ms-touch-action:pan-y;
	touch-action:pan-y
}

#typesSlider .slide{
	width:100%;
	margin:0;
	height:490px
}

#typesSlider div{
	margin-top:0;
	width:100%;
	background:rgba(255,255,255,0.9);
	text-align:center;
	height:490px
}

#typesSlider h1{
	padding-top:80px;
	font-size:38px
}

#typesSlider i{
	margin-top:40px;
	margin-bottom:40px;
	font-size:60px;
	color:white;
	padding:30px;
	border-radius:100%
}

#typesSlider p{
	font-size:18px;
	width:100%;
	max-width:600px;
	margin:0 auto
}

#testSection{
	width:100%;
	text-align:center;
	color:white;
	padding:120px;
	background:#383838
}

#testSection h1{
	font-size:35px;
	padding-top:20px
}

#testSection p{
	margin-top:20px;
	font-size:18px
}

#testSection button{
	background:#1359aa;
	margin-top:30px
}

#footer{
	font-family:'Open Sans',sans-serif;
	color:white
}

#footer div{
	background:#1c1c1c
}

#footer p{
	font-size:13px;
	text-align:justify
}

#footer ul{
	padding:30px
}

@media screen and (max-width:700px){
	#navBar #logoSection{
		left:10px
	}

	#navBar #searchSection{
		left:120px
	}

	#navBar #userSection{
		right:0
	}

	#navBar #userSection li{
		margin-right:10px
	}

	.fit-3div{
		width:50%
	}

	.fit-2div{
		width:50%
	}

	#testSection{
		padding:20px
	}

}

@media screen and (max-width:600px){
	.fit-3div{
		width:100%
	}

	.fit-2div{
		width:50%
	}

	#navBar #bar{
		display:inline;
		position:fixed;
		z-index:99;
		font-size:25px;
		right:20px;
		top:2px
	}

	#navBar #barT{
		display:none;
		position:fixed;
		font-size:25px;
		right:20px;
		top:2px
	}

	#navBar #logoSection{
		font-size:35px
	}

	#navBar #searchSection i,#navBar #userSection i{
		font-size:20px;
		line-height:50px
	}

	#navBar #logoSection{
		left:10px
	}

	#navBar #searchSection{
		top:60px;
		position:absolute;
		width:100%;
		background:#3b3b3b;
		left:0
	}

	#navBar #userSection{
		top:120px;
		position:absolute;
		left:0;
		width:100%
	}

	#navBar #userSection li{
		display:table;
		padding-left:10px;
		border-bottom:1px solid #3c3c3c;
		width:100%
	}

	#landScape #content{
		font-size:18px
	}

	#landScape #title{
		font-size:60px
	}

	#landScape #buttons{
		width:100%;
		max-width:130px;
		margin:0 auto;
		margin-top:50px;
		text-align:center
	}

	#landScape button{
		padding:10px 15px;
		font-size:13px;
		margin-left:0
	}

	#landScape #login{
		margin:0 auto;
		margin-bottom:10px
	}

	#presentation h1{
		font-size:30px
	}

	#presentation p{
		margin-top:20px;
		font-size:14px
	}

}


small {

    color:#5f5f5f;

    font-family:'Open Sans',sans-serif;

    margin: 0;


}


/*************************************/
/*
*Designed by Jonathan Nungaray
*@Jonatthu
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body{
	background:#fff;
	margin:0;
	z-index:1;
	width:100%;
	height:auto;
	overflow-x:hidden;
	font-family:abel,sans-serif;
	font-size:12px;
	overflow-y:scroll
}

a{
	text-decoration:none;
	color:inherit
}

a:hover{
	color:#3c3c3c
}

.active{
	color:#5283bc
}

.bg {
	position: fixed;
	z-index:18;
	width:100%;
	background:rgba(0,0,0,0.9);
	height:100%;
}

.msgmodal {
	position: fixed;
	z-index:19;
	width:400px;
	margin:auto;
	text-align: center;
	background:white;
	height:440px;
	padding:30px;
	box-sizing:border-box;
	border-radius:3px;
	font-size:26px;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.msgmodal i {
	margin-top:30px;
	background:white;
	padding:22px 14px 16px 16px;
	width:100px;
	font-size:50px;
	box-sizing:border-box;
	height:100px;
	margin-bottom:30px;
	border-radius:100%;
}

.msgmodal#error i {
	color:red;
	border:2px solid red;
}

.msgmodal#success i {
	color:green;
	border:2px solid green;
}

.msgmodal span {
	font-size:18px;
}


.msgmodal button {
	position:absolute;
	padding:15px;
	margin:auto;
	width:100px;
	right:0;
	font-family:'Open Sans', sans-serif;
	left:0;
	bottom:20px;
	font-size:14px;
	background:#e8e8e8;
	border:1px solid #CCC;
	border-radius:3px;
}

.line{
	width:80%;
	margin:auto;
	font-size:14PX;
	margin-top:40px;
	position:relative;
	text-align:center;
	border-bottom:1px solid #898989
}

.line span{
	background:white;
	width:50px;
	margin:auto;
	left:0;
	right:0;
	top:-8px;
	position:absolute
}

.red{
	font-size:13px;
	border-top:0 solid red;
	width:80%;
	color:#f50000;
	margin:auto;
	font-family:'Open Sans',sans-serif;
	padding:5px 20px 0 20px
}

h1{
	margin:0;
	padding:0
}

p{
	margin:0;
	padding:0
}

button.lnd{
	padding:15px 25px;
	margin-left:10px;
	font-size:15px;
	margin-bottom:20px;
	margin-top:30px;
	font-size:14px;
	border:0;
	border-radius:5px;
	font-weight:700;
	color:#3c3c3c
}

textarea:focus,input:focus{
	outline:0
}

#title2{
	font-size:90px;
	padding-top:50px;
	text-align:center;
	color:black;
	font-family:abel,sans-serif;
	line-height:0
}

#title2 small{
	font-size:18px
}

#session{
	width:100%;
	z-index:1;
	max-width:500px;
	background:white;
	position:absolute;
	margin:auto;
	top:0;
	left:0;
	bottom:0;
	right:0;
	padding-bottom:50px
}

#session input{
	padding:15px;
	font-family:'Open Sans',sans-serif;
	width:80%;
	border-radius:3px;
	border:1px solid #9d9d9d;
	font-size:15px;
	color:black;
	text-align:center;
	margin-top:20px
}

#session input:focus{
	border-color:#0076ff
}

#session ::-webkit-input-placeholder{
	color:#606060;
	text-align:center
}

#session :-moz-placeholder{
	color:#606060;
	opacity:1;
	text-align:center
}

#session ::-moz-placeholder{
	color:#606060;
	opacity:1;
	text-align:center
}

#session :-ms-input-placeholder{
	color:#606060;
	text-align:center
}

#login:after{
	content:"";
	font-size:12px
}

#signup:after{
	content:"";
	font-size:12px
}

#menu{
	font-family:'Open Sans',sans-serif;
	width:100%;
	border-bottom:0 solid #9d9d9d
}

#menu div{
	box-sizing:border-box;
	padding:10px;
	font-weight:100;
	font-size:16px;
	margin-top:70px;
	text-align:center;
	display:inline-block;
	width:49%;
	cursor:pointer
}

#menu div:first-child{
	border-right:1px solid #CCC
}

#session #fblog{
	padding:18px;
	width:80%;
	box-sizing:border-box;
	border-radius:3px;
	margin:auto;
	margin-top:30px;
	background:black;
	text-align:center;
	font-family:'Open Sans',sans-serif;
	color:white;
	font-size:15px
}

#session #login{
	width:100%;
	box-sizing:border-box;
	padding:20px;
	font-size:16px;
	margin:0 auto;
	text-align:center
}

#session #signup{
	display:none;
	margin:0 auto;
	text-align:center;
	box-sizing:border-box;
	padding:20px
}

@media screen and (max-width:600px){
	#title2{
		font-size:50px
	}

	#session{
		top:0
	}

	#menu div{
		font-size:14px
	}

	#session input{
		padding:15px;
		font-size:15px;
		margin-top:15px
	}

}

#title2 small{
	font-size:14px
}
/***********************************************/


body{
	margin: 0px;
	font-family: 'Abel', sans-serif;
	cursor: default;
}
.contenedor{
	position: absolute;
	width: 400px;
	height: 800px;
	top: 0px;
	left: 50%;
	margin-left: -200px;
	font-family: 'Abel', sans-serif;
}
.logo{
	float: left;
	width: 400px;
	height: 250px;
	text-align: center;
	color: rgb(0,105,140);
	font-size: 100px;
	line-height: 250px;
	text-decoration: none;
}
.titulo{
	float: left;
	width: 400px;
	height: 60px;
	background-color: rgb(0,105,140);
	text-align: center;
	line-height: 60px;
	color: #FFFFFF;
	font-size: 20px;
}
.linea{
	float: left;
	width: 400px;
	height: 20px;
	margin-bottom: 20px;
	border-bottom: 1px;
	border-bottom-color: rgb(144,144,144);
	border-bottom-style: solid;
}
.campo{
	float: left;
	width: 400px;
	height:60px;
	margin-bottom: 3px;
}
.caja{
	width: 390px;

	border-radius: 3px;
	/* height: 28px; */
	box-sizing: border-box;
	border:none;
	margin-left: 5px;
	margin-top: 14px;
	border-style: solid;
	border-width: 1px;
	border-color:  rgb(144,144,144);
	text-align: center;
	font-family: 'Abel', sans-serif;
	font-size: 16px;
}
.linea2{
	float: left;
	width: 400px;
	height: 20px;
	margin-bottom: 20px;
	border-bottom: 1px;
	border-bottom-color: rgb(144,144,144);
	border-bottom-style: solid;
}
.cajaOpciones{
	width: 390px;
	height: 28px;
	border:none;
	margin-left: 5px;
	margin-top: 14px;
	border-style: solid;
	border-width: 1px;
	border-color:  rgb(144,144,144);
	text-align: center;
	font-family: 'Abel', sans-serif;
	font-size: 16px;
}
.boton{
	float: left;
	margin-left:120px; 
	width:160px;
	height: 40px;
	background-color: rgb(0,105,140);
	border-style: none;
	color: #FFFFFF;
	font-family: 'Abel', sans-serif;
	font-size: 16px;

	transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
}
.boton:hover{
	background-color: #248BBD;
}
.boton:active{
	background-color: #CC0057;
}
.aviso{	
	float:left;
	height: 25px;
	width: 350px;
	margin-left: 25px;
	text-align: center;
	line-height: 25px;
	color: #B90000;
	font-size: 14px;
}
.bg {
	position: fixed;
	z-index:18;
	width:100%;
	background:rgba(0,0,0,0.9);
	height:100%;
}

.msgmodal {
	position: fixed;
	z-index:19;
	width:400px;
	margin:auto;
	text-align: center;
	background:white;
	height:440px;
	padding:30px;
	box-sizing:border-box;
	border-radius:3px;
	font-size:26px;
	top:0;
	bottom:0;
	left:0;
	right:0;
}



.msgmodal span {
	font-size:18px;
}

.msgmodal button {
	position:absolute;
	padding:15px;
	margin:auto;
	width:100px;
	right:0;
	font-family:'Open Sans', sans-serif;
	left:0;
	bottom:20px;
	font-size:14px;
	background:#e8e8e8;
	border:1px solid #CCC;
	border-radius:3px;
}
	
