  {% if user == 'Student' %}
    <!-- Chat -->
    <div class="Chat">
        <!-- Title -->
        <div class="Chat-title"> Tutor </div>

        <!-- Messages Box Area -->
        <div class="Chat-messagesBox"></div>

        <!-- Input Box -->
        <input class="Chat-input" id="autocomplete" />
    </div> <!-- /.Chat -->
    <script src="http://tipoo-chat.appspot.com/js/bundle.js"></script>
  {% endif %}
