﻿<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/stylesheets/tipoo.css" rel="stylesheet">
     <link href="/stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Administración de Documentos</title>


    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/global.css">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    {% include 'partials/chat/chatDependencies.html' %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="js/youtube_modal.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/events-text.js"></script>
    <script src="js/validate.min.js"></script>
    <script src="js/validateform.min.js"></script>
   <script src="//use.edgefonts.net/abel.js"></script>
    <script type="text/javascript" src="js/jQuery.2.1.3.min.js"></script>
    <script type="text/javascript" src="js/header.js"></script>
    <script type="text/javascript" src="js/newevent.js"></script>

</head>
<body>

    <!-- Navigation -->
<div id="main">
{% include 'header.tmp' %}

    {% block content %}{% endblock %}
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination" id="pagedlist">
                {%for i in pages%}
                <li><a href=/admin_text?page={{loop.index}}{%if user == "Student"%}&unit_id={{unit_id}}{%endif%}>{{loop.index}}</a></li>
                {%endfor%}
            </ul>

        </div>
    </div>
</div>
    <!-- /.row -->
    <!-- jQuery -->
{% include 'partials/chat/chat.html' %}
</body>
</html>
