<!DOCTYPE html>

	<link href="css/style.css" rel="stylesheet">
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Crear examen </title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/clean-blog.min.css" rel="stylesheet">

	<link href="stylesheets/style.css" rel="stylesheet">
	

    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>

 
	<body>
		<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                 
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">TIPOO</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i> <a href="/"> Inicio</a>
                    </li>
                    <li>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i> <a href="/"> Tutor </a>
                    </li>
                    <li>
                        <i class="fa fa-sign-out fa-stack-1x fa-inverse"></i> <a href="/logout">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- BARRA NAVEGADORA -->
    
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/fondoAzul.jpeg')">
        <div class="container">
            <div class="row">
                <div class="col-md-12 column">
                    <h1 class="text-center text-info">
                        </br>
                    </h1>
                </div>
            </div>
        </div>
    </header>
    <!-- FIN BARRA NAVEGADORA -->
    
    

    <!-- EXAMEN -->


        <boton><h1>Nuevo examen</h1></boton>
		</br> 
		</br>
		
		
        {% block edit_exam %}{% endblock %}        



        <pos>
        <br>
        

        <button type="button"  class="btn btn-info" onclick="addQuestion(); return false;">Agregar pregunta</button>
        <button type="button"  class="btn btn-danger" onclick="deleteQuestion(); return false;">Eliminar ultima pregunta</button>
        <input type="submit" class="btn btn-success" value="Guardar examen"><br><br><br> </pos>

        </form>
        

        
        </ul>

	


   
    <script src="js/jquery.js"></script>

   
    <script src="js/bootstrap.min.js"></script>

<!--    
    <script src="js/clean-blog.min.js"></script>

   -->
    
    <script src="js/test.js"></script>
   
    <script src="js/combo.js"></script>

    </body>
	
</html>
