<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="video/mp4" />
	{% include 'headerinclude.html' %}
	<script type="text/javascript" src="js/view_video.js"></script>
	<title>{{vinfo.topic}} -Tipoo Videos</title>
	<link rel="stylesheet" href="/stylesheets/view_video.css">
	{% include 'partials/chat/chatDependencies.html' %}
</head>
<body>
	{% include 'header.tmp' %}

	{% block view_video %}{% endblock %}
	{% include 'partials/chat/chat.html' %}
</body>
</html>
